# composer dependencies
vendor

# jetbrains folder
.idea

#Placeholder file for making sure a directory is tracked
!.gitkeep

#Local config for running integration tests
storage/config.php

# coverage
reports/*

# helper
_ide_helper.php
